<table>
    <tr>
        <td width="640" class="frame">
            <table class="responsive">
                <tbody>
                <tr>
                    <td>Public Repositories</td>
                    <td>{{git_data.data.public_repos}}</td>
                </tr>
                <tr>
                    <td>Public Gists</td>
                    <td>{{git_data.data.public_gists}}</td>
                </tr>
                <tr>
                    <td>Followers</td>
                    <td>{{git_data.data.followers}}</td>
                </tr>
                <tr>
                    <td>Following</td>
                    <td>{{git_data.data.following}}</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>