{% extends '../layout.html' %}

{% block title %}{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="container">
        <h1>{{ title }}</h1>
        <form class="form">
            {% if Object.keys(git_data).length > 0 %}
                {% if git_data.username.length > 0 %}
                    <input type="text" placeholder="Github username: anistark" name="handle" id="handle" value="{{ git_data.username }}">
                {% else %}
                    <input type="text" placeholder="Github username: anistark" name="handle" id="handle" value="">
                {% endif %}
            {% else %}
                <input type="text" placeholder="Github username: anistark" name="handle" id="handle" value="">
            {% endif %}
            <!--<button type="submit" id="login-button">Get Info</button>-->
            <button type="submit" id="login-button" class="fa fa-arrow-circle-right fa-3x"></button>
        </form>
    </div>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    {% if Object.keys(git_data).length > 0 %}
    <div class="response-display" id="response-display">
        <img src="{{ git_data.data.avatar_url }}" alt="profile-picture" class="profile-picture"/>
        <h2>{{ git_data.data.name }} </h2>
        <small>{{ git_data.data.bio }}</small>
        <br>
        {% include '../components/profile_data.html' %}
    </div>
    {% endif %}
</div>

{% endblock %}
